/**
 * VARIABLES
 * ==========================================================================
 */

$font-size-base: 16px;
$line-height-base: 24px;
$line-height-ratio: $line-height-base / $font-size-base;
$font-family-base: sans-serif;

$white: #fff;
$gray-light: #f5f4f0;
$gray-medium: #b3b3b3;
$gray-dark: #464646;
$blue: #607D8B;

$line-height: 44px;
